// Basic KA2 The General War Tech Tree
// Each .ODF entry is followed by a 0, -1, -2
//  0 = Nothing is required to build this .ODF
// -1 = Impossible to build.  Anything dependent on this .ODF can not be built.
// -2 = Impossible to build, but don't touch dependencies, so that if somehow I already existed or was acquired, you could build anything dependent on me.

// ***[ KLINGON SHIPS ]***************************
//
kconst.odf    1 kbase.odf                          					  			// Construction Tender (Warpig Class KACS)
kfreight.odf  1 kbase.odf                          					  			// Mining Freighter (Bloodline Class KDF)
kcargo.odf    2 kbase.odf klihull2.odf 	         	   					  		// Cargo Freighter (Lifeblood Class KAK)
ksrepair.odf  3 kbase.odf kresearcha.odf kliEqu2.odf					  			// Repair Frigate (Suspicious-R Class KAR)
kcolony.odf   3 kbase.odf klihull2.odf kliMiscR3.odf            					  	// Colony Ship (Brave Settler Class KFB)
kassault.odf  2 kbase.odf klihull2.odf                 					  			// Assault Transport (Poisoned Barb Class KAPA)
kfighter.odf  3 kbase.odf koutpost.odf kcarrier.odf         					  		// Fighter (Iron Fist Class KFA)
kescort.odf   2 kbase.odf klihull5.odf         	    					  			// Escort (Bird of Prey Class KEC)
ksfrigate.odf 2 kbase.odf kliEqu1.odf 		    					  			// Science Frigate (Suspicious-S Class KFS)
kcfrigate.odf 2 kbase.odf kliEqu2.odf                					  			// Cargo Frigate (Suspicious-C Class KFC)
kfrigate.odf  1 kbase.odf		 	           					  		// Battle Frigate (Suspicious Class KFF)
kdestroy.odf  3 kbase.odf klihull1.odf klipod1.odf   					  			// Destroyer (Insurrection Class KDD)
kdestroyl.odf 3 kbase.odf klihull1.odf kliEqu3.odf   					  			// Destroyer Leader (Captain Class KDL)
klcruise.odf  2 kbase.odf kliHull2.odf               					  			// Light Cruiser (Relentless Class KCL)
kcruise.odf   2 kbase.odf kliHull2.odf               					  			// Heavy Cruiser (Great Powerful Conquerer Class KCA)
kscruise.odf  3 kbase.odf kliHull2.odf kliEqu4.odf   					  			// Scout Cruiser (War Scout Class KCS)
ktcruise.odf  6 kbase.odf kliHull2.odf kliEqu5.odf kliMiscR3.odf kliMiscR4.odf kliMiscR2.odf                    // Torpedo Cruiser (Shortsword Class KCT)
kccruise.odf  5 kbase.odf klihull2.odf kliEqu5.odf kliMiscR3.odf kliMiscR2.odf 		                	// Command Cruiser (Warrior's Anger Class KCC)
kqonos.odf    2 kbase.odf klihull2.odf 							  			// Battlecruiser (Kronos Class KBC)
kbcruise.odf  5 kbase.odf klihull2.odf kliEqu5.odf kliMiscR1.odf klipod2.odf  			                // Battlecruiser (Emperor Class KBC)
kbertaa.odf   3 kbase.odf klihull3.odf klipod2.odf 								// Supercruiser (Bird of Blood Class KCB)
kdread.odf    5 kbase.odf klihull3.odf kliMiscR1.odf kliMiscR2.odf kliMiscR3.odf 			        // Dreadnought (Accuser Class KDN)
kbattle.odf   5 kbase.odf klihull4.odf kliMiscR1.odf kliMiscR2.odf klipod2.odf  			        // Battleship (Sword of Kahless Class KBB)
ksuper.odf    4 kbase.odf ksuperbl.odf klihull5.odf klipod6.odf 						// Experimental Warship (Bird of Prey Class KECX)
kcarrier.odf  3 kbase.odf klihull4.odf kliMiscR1.odf 							        // Battlecarrier (Mother of Death Class KCVB)

// ***[ KLINGON RESEARCH PROJECTS ]*********************

kliHull1.odf  3 kbase.odf kresearcha.odf klihull5.odf 	// Hull Research (F Series)
kliHull2.odf  3 kbase.odf kresearcha.odf kliHull5.odf	// Hull Research (D Series)
kliHull3.odf  3 kbase.odf kresearcha.odf klihull2.odf 	// Hull Research (C-I Series)
kliHull4.odf  3 kbase.odf kresearcha.odf kliHull3.odf	// Hull Research (B Series)
kliHull5.odf  2 kbase.odf kresearcha.odf 		// Hull Research (E Series)

kliequ1.odf   2 kbase.odf kresearchb.odf 				// Conversion Kit (Science Frigate FS)
kliequ2.odf   2 kbase.odf kresearchb.odf 				// Conversion Kit (Cargo Frigate FC)
kliequ3.odf   4 kbase.odf kresearchb.odf klihull1.odf klipod1.odf 	// Conversion Kit (Destroyer Leader DL)
kliequ4.odf   4 kbase.odf kresearchb.odf klihull2.odf klipod23.odf  	// Conversion Kit (Scout Cruiser CS)
kliequ5.odf   3 kbase.odf kresearchb.odf klihull2.odf 		   	// Conversion Kit (C-II Series Conversion)

klimiscR1.odf 3 kbase.odf kresearchc.odf kliequ5.odf  		                        // Research Pod (Trilithium Depeleted Pellets - Heavy Photon Torpedoes)
klimiscR2.odf 3 kbase.odf kresearchc.odf kliHull2.odf                                   // Research Pod (Dual Forward Torpedo Tubes - Capital Ships and Cruisers)
klimiscR3.odf 3 kbase.odf kresearchc.odf kliHull2.odf					// Research Pod (Centreform Non-Propulsive Nacelles - Specialised Cruisers)
klimiscR4.odf 3 kbase.odf kresearchc.odf kliHull2.odf              		        // Research Pod (Proximity Detonation Fuses - Proximity Torpedoes)
klipod1.odf   3 kbase.odf kresearchc.odf kliHull5.odf 		                        // Research Pod (Frequency Modulated Particle Weapons - FMPA Cannons)
klipod2.odf   3 kbase.odf kresearchc.odf klipod1.odf                               	// Research Pod (Dual Advanced Weapon Wing Mounts - Dual FMPA Cannons)
klipod3.odf   3 kbase.odf kresearchc.odf kliequ5.odf           	     		   	// Research Pod (Gravitic Harmonous Resonator Examination - Captured Gorn Weapon)
klipod4.odf   3 kbase.odf kresearchc.odf klimiscR3.odf               			// Research Pod (Anti-Matter Field Projection Technology - Heavy Weaponry)
klipod5.odf   4 kbase.odf kresearchc.odf klimiscR3.odf klipod24.odf  			// Research Pod (Enhanced Warp Cores - Assault Phaser Power Capacitor)
klipod6.odf   4 kbase.odf kresearchc.odf ksuperbl.odf klipod23.odf 			// Research Pod (Modified Cloaking Fields - Project pIH D'ktagh)

klipod11.odf  2 kbase.odf kupgrade.odf // Research Pod (Weapon Overload Systems - Weapon Systems Upgrade I)
klipod12.odf  2 kbase.odf kupgrade.odf // Research Pod (Rephased Shield Systems - Shield Systems Upgrade I)
klipod13.odf  2 kbase.odf kupgrade.odf // Research Pod (Sensor Reallignment - Sensor Package Upgrade I)
klipod14.odf  2 kbase.odf kupgrade.odf // Research Pod (Warp Field Manipulation - Propulsion Systems Upgrade I)
klipod15.odf  2 kbase.odf kupgrade.odf // Research Pod (Life Support Redundancy Systems - Life Support Systems Upgrade I)
klipod21.odf  2 kbase.odf klipod11.odf // Research Pod (Disruptor Packet Power Booster - Weapon Systems Upgrade II)
klipod22.odf  2 kbase.odf klipod12.odf // Research Pod (Hyperphased Shield Modulation - Shield Systems Upgrade II)
klipod23.odf  2 kbase.odf klipod13.odf // Research Pod (Additive Sensor Power Relays - Sensor Package Upgrade II)
klipod24.odf  2 kbase.odf klipod14.odf // Research Pod (Hydrogen Injection Nozzles - Propulsion Systems Upgrade II)
klipod25.odf  2 kbase.odf klipod15.odf // Research Pod (Auxilliary Gravitational Field Generator - Life Support Systems Upgrade II)

// ***[ KLINGON MIXED TECH ]*********************

KliMix1.odf 3 kbase.odf kresearchc.odf fconst.odf                                          // Federation Tech (EsPlaD) - Capture
KliMix2.odf 2 kbase.odf kresearchc.odf                                           	   // Romulan Tech (Sensor Cloaking) - Allied
KliMix3.odf 3 kbase.odf kresearchc.odf rconst.odf                                          // Romulan Tech (Sensor Cloaking) - Capture
KliMix4.odf 3 kbase.odf kresearchc.odf gconst.odf                      	   		   // Gorn Tech (Qeh'Ral) - Capture
KliMix5.odf 3 kbase.odf kresearchc.odf iconst.odf                                          // ISC Tech (Grappler Beam) - Capture
KliMix6.odf 3 kbase.odf kresearchc.odf hconst.odf 				           // Hydran Tech (Steelfist) - Capture
KliMix7.odf 2 kbase.odf kresearchc.odf                             	           	   // Lyran Tech (ESGs) - Allied

KQehral.odf     6 kbase.odf klihull4.odf kliMiscR1.odf kliMiscR2.odf klipod2.odf KliMix4.odf  // Unique Battleship (IKS Qeh'ral)
KFighterB.odf   4 kbase.odf koutpost.odf kcarrier.odf KliMix6.odf                             // Fighter (Steelfist FFA)

gDetectK.odf    1 KliMix1.odf								   // Cloak Detection (Suspicious-S Class KFS)
gKCloakR.odf    1 KliMix2.odf								   // Sensor Array Cloak (Allied)
gKCloakR2.odf   1 KliMix3.odf 								   // Sensor Array Cloak (Capture)
gHoldBm.odf     1 KliMix5.odf								   // Grappler (Suspicious-C Class KFC)
gKESG2.odf	1 KliMix7.odf								   // Expanding Sphere Generator (Poisoned Barb)

// ***[ KLINGON STATIONS ]*********************
//
kbase.odf     	0                                    	  		  // Starbase K
koutpost.odf  	1 kbase.odf                                   	  	  // Outpost
kmining.odf   	1 kbase.odf                                    	  	  // Dilithium Refinery
korbital.odf  	1 kbase.odf					          // Orbital Processing Facility K
ksensor.odf   	1 kbase.odf                         	  		  // Sensor Array
kmine.odf     	1 kbase.odf                             		  // Type KA Mine
kyard.odf     	1 kbase.odf                         	  	 	  // Shipyard K
kyard2.odf    	4 kbase.odf kresearcha.odf kresearchb.odf kresearchc.odf  // Imperial Shipyard
ktrading.odf    1 kbase.odf                          	  		  // Trading Station K
kresearcha.odf  1 kbase.odf                              		  // KDF Warship Research Laboratory (Hulls)
kresearchb.odf  1 kbase.odf                              		  // KDF Warship Conversion Laboratory (Conversions)
kresearchc.odf  1 kbase.odf                              		  // Imperial Armory (Equipment)
kupgrade.odf  	4 kbase.odf kresearcha.odf kresearchb.odf kresearchc.odf  // Imperial Research Institute (Upgrades)
ksuperbl.odf  	2 kbase.odf kupgrade.odf 				  // Project pIH D'ktagh Station (Super Station)

// ***[ KLINGON ADVANCED WEAPONS ]*****************
//
gkassault.odf 2 klipod5.odf klipod21.odf	    		// Assault Phaser (Sword of Kahless Class KBB)
gkghrc.odf    1 klipod3.odf                   			// Gravimetric Harmonic Resonance Cannon (Warrior's Anger Class KCC)
gkamfp.odf    1 klipod4.odf 	    				// Anti-Matter Field Projector (Accuser Class KDN)
gkjammer.odf  1 klipod23.odf	    				// Communication Jammer (Suspicious-S Class KFS)
gkfwc.odf     2 klipod6.odf ksuperbl.odf			// Experimental Cloak (Bird of Prey Class KECX)
gkcloak.odf   0    						// Klingon Specific Cloak
ksphoton.odf  0							// Photon Torpedo - Fighter Version
